.container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row {
    display: flex;
    
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.owner-details-card {
    width: 45%;
    height: 339px;
    border: 1px solid var(--card-border);
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 24px;
    margin-bottom: 32px;
}

.image-name-detilas {
    display: flex;
}

.owner-image {
    margin-top: 20.1px;
    margin-left: 24px;
    width: 103px;
    height: 115.48px;
    border-radius: 12px;
}

.owner-name {
    margin-top: 24px;
    margin-left: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: var(--name-text);
}

.owner-interest {
    margin-top: 16px;
    margin-left: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--text)
}

.learning-details {
    display: flex;
}

.haeding {
    margin-top: 20px;
    margin-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--text);
}

.expert-list {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;
    margin-left: 32px;
}

.expert-in {
    width: 294px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--text);
}

.seperation-line {
    margin-top: 25px;
    width: 100%;
    border: 1px solid var(--seperation-line);
}