.max-width {
    max-width: 1110px;
    margin: 0px auto;
}

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-margin {
    margin-left: 90px;
}

.max-width-navbar {
    max-width: 1000px;
    margin: 0px auto;
}