#root {
    --tab-text: #1F2737;
    --text: #606060; 
    --border-color: #B8B298;
    --card-border: #F2EEDA;
    --name-text: #282828;
    --bgcolor: #fff9e8;
    --navbar-shadow: rgba(42, 45, 123, 0.02);
    --seperation-line: #F2EEDA;
}